$blue: #1077d7;
$red: #ff2c76;
$green: #4cd901;
$basecolor: #666;

$basefont: "Open Sans", sans-serif;

* {
    box-sizing: border-box !important;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $basefont;
    color: $basecolor;
}

.info {
    text-align: center;
    font-size: 1.4rem;
    background: #EFEFEF;
    padding: 5px 10px;
    border: 1px dashed #CCC;
}

.content-info {
    text-align: left;
    font-size: 1.4rem;
    background: #EFEFEF;
    padding: 5px 10px;
    border: 1px dashed $blue;
}

#page {
    max-width: 1000px;
    margin: auto;
    padding: 2rem 0;
}

header, aside {
    padding: 1rem;
    float: left;
    width: 30%;
    font-size: 1.4rem;
    line-height: 2.0rem;
    color: white;
    a, h2 {
        color: white;
    }
}

a {
    color: $blue;
}

.more {
    display: block;
    text-align: right;
    font-size: 1.3rem;
    font-style: italic;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    color: $blue;
    line-height: 3.2rem;
}

.post-title {
    font-family: 'Ubuntu', sans-serif;
    margin-top: 0;
}

header {
    margin-top: 7rem;
    background: $red;
    border-bottom: 2px solid white;

    h1 {
        text-align: center;
        font-size: 3.0rem;
        margin-top: 1.0rem;
    }
}

aside {
    background: lighten($red, 0);
    padding: 0;

    > section, > p {
        padding: 1rem;
    }

    > p {
        border-bottom: 2rem solid lighten($red, 20);
        margin-bottom: 0;
    }

    border-bottom: 2rem solid lighten($red, 25);
}

.content {
    float: right;
    width: 65%;
}

h1, h2, h3 {
    color: $blue;
    a {
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

#credits {
    margin-top: 1rem;
    font-size: 0.7rem;
    img {
        margin: 0;
    }
}

.posts {
    .post {
        margin-bottom: 3rem;
    }
}

.post {
    font-size: 1.8rem;
    line-height: 2.4rem;
    .data {
        background: #EFEFEF;
        padding: 5px 10px;
        border: 1px dashed #CCC;
        dl {
            margin: 0;
            font-size: 1.4rem;
        }
    }
    dt, dd {
        display: inline-block;
        margin: 0 1rem 0 0;
    }

    dt {
        min-width: 4rem;
        font-weight: bold;
    }

    .rating {
        b {
            font-size: 3rem;
        }
    }

    h2 {
        margin: 3rem 0 0.5rem 0;
    }
}

.post-date {
    font-style: italic;
    font-size: 1.4rem;
    display: block;
}

figure {
    display: inline-block;
    border: 1px solid #EFEFEF;
    margin: 20px auto;
    max-width: 100%;

    img {
        margin: 0 auto;
        border-radius: 0;
        max-width: 100%;
        display: block;
    }

    figcaption {
        background: #EFEFEF;
        text-align: center;
        font-size: 0.8rem;

        p {
            margin: 0;
        }
    }
}

@media (max-width: 1000px) {
    body {
        margin: 0;
        padding: 0;
    }
    #page {
        max-width: 100%;
        padding: 0;
    }
    .content {
        padding: 1rem;
    }
    header, aside, .content {
        float: none;
        width: 100%;
        margin-top: 0;
    }
}