{{ partial "head.html" . }}
{{ $slug := .Title | urlize }}
{{ $posts := index $.Site.Taxonomies.journeys $slug }}
<body>

{{ partial "sidebar.html" . }}

<div class="content container">
<div class="post">
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  {{ if $posts }}
  <section>
      <h2>Posts</h2>
      <ul>
      {{ range $posts }}
      <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> <span class="post-date">{{ .Page.Date.Format "2 January 2006" }}</span></li>
      {{ end }}
      </ul>
  </section>
  {{ end }}
</div>
</div>

  </body>
</html>
