<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta charset="utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  {{ if $.Scratch.Get "isHomepage" }}
  <title>{{ .Site.Title }}</title>
  {{ else }}
  <title>{{ .Title }} &middot; {{ .Site.Title }}</title>
  {{ end }}

  {{ $cssManifest := getJSON "data/rev-manifest.json" }}
  <!-- CSS -->
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700|Abril+Fatface|Ubuntu">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/{{ index $cssManifest "style.css"}}">

  <!-- RSS -->
  <link href="/post/index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
</head>
<body>
<div id="page">
    <header>
      <h1><a href="/">{{ .Site.Title }}</a></h1>
      <p class="lead">
        Welcome to the travel blog of <a href="http://h10n.me">Horst Gutmann</a>.
        Here I (try to) keep record of the things I do while traveling the world!
      </p>
    </header>
